body {
    font-family: 'Ubuntu';
    margin: 0;
    min-width: 1000px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url('../src/fonts/Ubuntu.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../src/fonts/Montserrat.ttf');
}